.home {
  flex: 4;
}

.homewidgets {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}
.monthlyLoading{
  text-align: center;
  margin-top: 50px;
}
.monthlyError {
  color: red;
  text-align: center;
  margin-top: 50px;
}
