.scrolled {
  opacity: 0;
}
.seperator {
  width: 100%;
  height: 104px;
}
.headerBack {
  width: 100vw;
  height: 104px;
  background: var(--gradient-bg) !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.message {
  height: 150px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #0069d9;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
