.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: all 0.4s !important;
}

.toggle-switch-slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.3px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s !important;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-slider {
  background-color: #2196f3;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-slider::before {
  transform: translateX(24px);
}
/* ########### */
.cardContainer {
  font-family: "Roboto", sans-serif !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://c1.wallpaperflare.com/preview/829/882/414/laboratory-analysis-diagnostics-hospital.jpg")
      center;
  background-size: cover;
}
@media (min-width: 415px) and (max-width: 649px){
  .cardContainer{
    margin-top: 70px;
  }
}
.card {
  width: 1000px;
  max-width: 100%;
}
.singleUserInfo {
  display: flex;
  align-items: center;
}
.singleUserInfo > label {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  color: #AAA;
}
.singleUserInfo > p {
  margin: 0;
  margin-left: 10px;
  font-weight: 400;
  color: #AAA;
}
.formHeader {
  text-align: center;
  color: #0d6efd;
  font-weight: 600;
  margin: 10px 0px 25px;
}
@media (max-width: 850px){
  .formHeader{
    margin: 5px 0px 10px;
  }
}
.uploadReportsForm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.dataLabel {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (max-width: 850px){
  .dataLabel{
    margin-bottom: 5px;
  }
}
.switchAttach{
  display: flex;
  align-items: center;
  gap: 5px;
}
.switchAttach > span {
  font-size: 13px;
  font-weight: 400;
}
.percentage-container{
  display: flex;
  align-items: center;
  gap: 15px;
}
.percentage-container > label {
  margin-bottom: 0px;
}
.percentage-container > input {
  border: none;
  background-color: #0d6efd;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
.percentage-container > input:focus{
  outline: 2px solid white;
}
.radiosContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 850px){
  .radiosContainer{
    gap: 5px;
  }
}
.radiosContainer > label {
  margin-bottom: 0px;
}
.radioInputAndLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
}
@media (max-width: 850px){
  .radioInputAndLabel{
    margin-right: 10px;
    gap: 3px;
  }
}
.grid-column {
  grid-column: span 2;
}
.errorContainer{
  position: relative;
  border: 2px solid rgb(220, 53, 69);
  width: fit-content;
}
.errorContainer::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-style:solid;
  border-width: 8px;
  border-color: transparent transparent rgb(220, 53, 69) transparent;
  top: 0;
  left: 50%;
  transform: translate(-50%,-100%);

}
.errorSvg{
  margin-left: 2px;
  fill: rgb(220, 53, 69);
  width: 20px;
}
.uploadButton{
  display: block !important;
  margin: auto ;
  min-width: fit-content;
  width: 20%;
  margin-top: 15px;
}
